.page-header
  = link_to examplets_path, :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_examplet_path(@examplet), :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show examplet

%dl.dl-horizontal
  %dt Name:
  %dd= @examplet.name
  %dt Type:
  %dd= @examplet.type
